<% if @list.nil? %>
  <%= link_to "Set up your To-Do List", new_list_path, class: 'btn btn-default' %>
<% else %>
    
<div class="row">
  <div class="col-md-12">
    <h1> 
      <%= @list.title %>
      <%= link_to "Edit List", edit_list_path, class: 'btn btn-default btn-list-nudge' %> 
      <%= render partial: 'items/clear' %>
      <!-- 
      link_to "Clear List", clear_list_path, class: 'btn btn-default btn-list-edit', data: { confirm: 'Are you sure you want to clear this list?' }
      -->
    </h1> 
    
    <%= render partial: "items/form", locals: { list: @list } %>
    
    <table class="table table-striped">
      <thead>
        <tr>
          <td>
            <strong>To-Do Item</strong>
          </td>
          <td>
            <strong>Days Left</strong>
          </td>
          <td>
            <strong>Complete?</strong>
          </td>
        </tr>
      </thead>
      <tbody id="item-table">
  
        <% @items.each_with_index do |item, index| %>
          <% unless index >= @items.count %>
            <%= render partial: "items/item", locals: { item: item, list: @list} %>
          <% end %>
        <% end %>
  
      </tbody>
    </table>

  </div>
</div>

<% end %>
    

